#UI BMS4, created by Revientor and Naldo (2009)
#This is the main toolbar on the bottom of the window, after you join the dogfight.

[WINDOW]
[SETUP] DF_PLAY_TOOLBAR_WIN C_TYPE_NORMAL 1920 87
[RANGES] 0 0 1920 1080 1920 87
[XY] 0 993
[GROUP] 2020
[FLAGBITON] C_BIT_CANTMOVE
[FLAGBITON] C_BIT_TRANSLUCENT

[TILE]
[SETUP] NID 0 TE_TOOL
[XYWH] 0 0 1920 87
[FLAGBITON] C_BIT_ABSOLUTE
[FLAGBITON] C_BIT_HORIZONTAL

# [FILL]
# [SETUP] NID C_TYPE_VERTICAL
# [XYWH] 10 2 977 80
# [GRADIENT] 30 30
# [FLAGBITON] C_BIT_TRANSLUCENT

[BUTTON]
[SETUP] SINGLE_FLY_CTRL C_TYPE_NORMAL 0 0
[XYWH] 1740 5 180 87
[BUTTONIMAGE] C_STATE_0 TOOL_TAC_FLY
[BUTTONIMAGE] C_STATE_1 TOOL_TAC_FLY
[BUTTONIMAGE] C_STATE_DISABLED TOOL_TAC_FLY
[SOUNDBITE] SND_PUSH C_TYPE_LMOUSEUP
[CURSOR] CRSR_F16_ON
[HELPTEXT] HELP_FLY_ICON
[SOUNDBITE] SND_RADIO C_TYPE_MOUSEOVER

[BUTTON]
[SETUP] COMMS_FLY_CTRL C_TYPE_NORMAL 0 0
[XYWH] 1740 5 180 87
[BUTTONIMAGE] C_STATE_0 TOOL_TAC_FLY
[BUTTONIMAGE] C_STATE_1 TOOL_TAC_FLY
[BUTTONIMAGE] C_STATE_DISABLED TOOL_TAC_FLY
[SOUNDBITE] SND_PUSH C_TYPE_LMOUSEUP
[CURSOR] CRSR_F16_ON
[HELPTEXT] HELP_FLY_ICON
[SOUNDBITE] SND_RADIO C_TYPE_MOUSEOVER

[BUTTON]
[SETUP] UI_HELP_GUIDE C_TYPE_NORMAL 0 0
[XYWH] 1560 5 180 87
[GROUP] 400021
[BUTTONIMAGE] C_STATE_0 TOOL_DOG_HELP
[BUTTONIMAGE] C_STATE_1 TOOL_DOG_HELP
[BUTTONIMAGE] C_STATE_DISABLED TOOL_DOG_HELP
[CURSOR] CRSR_F16_ON
[HELPTEXT] HELP_HELP
[SOUNDBITE] SND_RADIO C_TYPE_MOUSEOVER
[SOUNDBITE] SND_PUSH C_TYPE_LMOUSEDOWN